@media screen and (min-width: 1250px) and (orientation: landscape) {
  /* … */

  header {
    .nav--header {
      width: 1250px;

      .ulNavContainerRight {
        margin-right: 30px;

        .uil-bars {
          display: none;
        }

        .uil-search {
          margin-left: 240px;
          margin-right: 0;
        }

        div {
          display: flex;
          width: auto;
          margin-left: 30px;

          li {
            padding-left: 10px;
          }
        }

        li {
          padding-left: 0;
          padding-right: 0;

          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
  footer {
    width: 1250px;
    flex-direction: row;

    .fFooter {
      margin-left: 70px;

      p {
        width: 400px;
        font-size: 14px;
      }
    }

    .sFooter {
      margin-top: 0;

      .tweetsParag {
        blockquote {
          p {
            width: 400px;
            font-size: 14px;
          }
        }
      }

      h2 {
        margin-bottom: 0;
      }
    }

    .tFooter {
      margin-top: 0;

      h2 {
        margin-top: 10px;
        margin-bottom: 0;
      }
      .socialMed {
        ul {
          li {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
