* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fmlInter);
}

:root {
  --ftsBlue: #2596be;
  --ftsRed: #d53c42;
  --ftGray: #bcbcbc;
  --ftzMed: 24px;
  --navHeight: 80px;
  --section-padding: 2rem 0 4 rem;
  --font-family: "Open Sans";
  --h2-size: 28px;
  --h1-size: 66px;
  --border-top: 1px solid #bcbcbc;
  --fts__white: #fff;
  --border-fifteen: 15px;
  --front-padding: 80px;
  --fts-golden: #daa520;
  --fts-black: #000;
  --fmlInter: "Inter", sans-serif;
}

body {
  background-color: var(--fts__white);
}

header .nav--header {
  height: 80px;
  background-color: var(--fts__white);
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid var(--ftGray);
  width: 480px;
}
header .nav--header img {
  width: 20px;
  height: 20px;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
}
header .nav--header .ulNavContainerLeft {
  width: 40%;
  margin-right: auto;
  display: flex;
}
header .nav--header .ulNavContainerLeft li {
  list-style: none;
  padding: 30px 0 0 10px;
}
header .nav--header .ulNavContainerLeft li a {
  text-decoration: none;
  color: #000;
}
header .nav--header .ulNavContainerLeft li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #2596be;
          text-decoration-color: #2596be;
  text-decoration-thickness: 3px;
}
header .nav--header .ulNavContainerLeft .forum {
  visibility: hidden;
  display: none;
}
header .nav--header .ulNavContainerLeft .blog {
  visibility: hidden;
  display: none;
}
header .nav--header .ulNavContainerRight {
  width: 40%;
  display: flex;
  margin-right: auto;
}
header .nav--header .ulNavContainerRight li {
  list-style: none;
  padding: 30px 10px 0 60px;
  cursor: pointer;
}
header .nav--header .ulNavContainerRight .listTimes .uil-times {
  display: none;
}
header .nav--header .ulNavContainerRight div {
  display: none;
}

span {
  color: var(--ftsBlue);
}

main {
  width: 480px;
  margin: auto;
}
main .motorWrd {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 140px 10px 0;
}
main .motorWrd .new {
  margin: 20px;
}
main .motorWrd .new .titleHeader {
  width: 60%;
  text-align: justify;
  font-size: 32px;
}
main .motorWrd .new .titleHeaderThree {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
main .motorWrd .new .btns {
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin: 20px 0;
}
main .motorWrd .new .btns .btnCreate {
  height: 40px;
  width: 140px;
  margin-right: 20px;
  background-color: var(--ftsBlue);
  cursor: pointer;
  border: 1px solid var(--ftsBlue);
  border-radius: 4px;
  color: var(--fts__white);
}
main .motorWrd .new .btns .btnCreate:hover {
  opacity: 80%;
}
main .motorWrd .new .btns .btnSee {
  height: 40px;
  width: 140px;
  border: 1px solid var(--ftsBlue);
  cursor: pointer;
  border-radius: 4px;
  color: var(--ftsBlue);
}
main .motorWrd .new .btns .btnSee:hover {
  background-color: var(--ftsBlue);
  color: var(--fts__white);
}
main .firstSection {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
main .firstSection .mtvContainer {
  margin: 20px;
}
main .firstSection .mtvContainer h1 {
  font-size: 46px;
}
main .firstSection .mtvContainer p {
  margin-top: 20px;
  font-size: 16px;
}
main .firstSection .lastSessions {
  display: flex;
  flex-direction: column;
}
main .firstSection .lastSessions .modulesContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border-radius: 4px;
  border: 1px solid var(--ftGray);
}
main .firstSection .lastSessions .modulesContainer h1 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  color: var(--fts-golden);
}
main .firstSection .lastSessions .modulesContainer .modules {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 30px;
}
main .firstSection .lastSessions .modulesContainer .modules .phonetic {
  margin-top: 40px;
  display: flex;
  height: auto;
}
main .firstSection .lastSessions .modulesContainer .modules .phonetic img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}
main .firstSection .lastSessions .modulesContainer .modules .phonetic .phoneticCurrentModules {
  display: flex;
  flex-direction: column;
}
main .firstSection .lastSessions .modulesContainer .modules .phonetic .phoneticCurrentModules h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .modulesContainer .modules .phonetic .phoneticCurrentModules p {
  font-size: 18px;
  color: var(--ftGray);
}
main .firstSection .lastSessions .modulesContainer .modules .grammar {
  margin-top: 40px;
  display: flex;
}
main .firstSection .lastSessions .modulesContainer .modules .grammar img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}
main .firstSection .lastSessions .modulesContainer .modules .grammar .grammarCurrentModules {
  display: flex;
  flex-direction: column;
}
main .firstSection .lastSessions .modulesContainer .modules .grammar .grammarCurrentModules h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .modulesContainer .modules .grammar .grammarCurrentModules p {
  font-size: 18px;
  color: var(--ftGray);
}
main .firstSection .lastSessions .modulesContainer .modules .Conjugaison {
  margin-top: 40px;
  display: flex;
}
main .firstSection .lastSessions .modulesContainer .modules .Conjugaison img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}
main .firstSection .lastSessions .modulesContainer .modules .Conjugaison .conjugCurrentModules {
  display: flex;
  flex-direction: column;
}
main .firstSection .lastSessions .modulesContainer .modules .Conjugaison .conjugCurrentModules h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .modulesContainer .modules .Conjugaison .conjugCurrentModules p {
  font-size: 18px;
  color: var(--ftGray);
}
main .firstSection .lastSessions .lastTutos {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border-radius: 4px;
  border: 1px solid var(--ftGray);
}
main .firstSection .lastSessions .lastTutos h1 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  color: var(--ftsBlue);
}
main .firstSection .lastSessions .lastTutos .tutos {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 30px;
}
main .firstSection .lastSessions .lastTutos .tutos .accents {
  margin-top: 40px;
  display: flex;
}
main .firstSection .lastSessions .lastTutos .tutos .accents img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}
main .firstSection .lastSessions .lastTutos .tutos .accents .accentVid {
  display: flex;
  flex-direction: column;
}
main .firstSection .lastSessions .lastTutos .tutos .accents .accentVid h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .lastTutos .tutos .accents .accentVid p {
  font-size: 18px;
  color: var(--ftGray);
}
main .firstSection .lastSessions .lastTutos .tutos .listening {
  margin-top: 40px;
  display: flex;
}
main .firstSection .lastSessions .lastTutos .tutos .listening img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}
main .firstSection .lastSessions .lastTutos .tutos .listening .listeningVid h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .lastTutos .tutos .listening .listeningVid p {
  font-size: 18px;
  color: var(--ftGray);
}
main .firstSection .lastSessions .lastTutos .tutos .speaking {
  margin-top: 40px;
  display: flex;
}
main .firstSection .lastSessions .lastTutos .tutos .speaking img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}
main .firstSection .lastSessions .lastTutos .tutos .speaking .speakingVid h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .lastTutos .tutos .speaking .speakingVid p {
  font-size: 18px;
  color: var(--ftGray);
}
main .firstSection .lastSessions .podCast {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border-radius: 4px;
  border: 1px solid var(--ftGray);
}
main .firstSection .lastSessions .podCast h1 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  color: var(--ftsRed);
}
main .firstSection .lastSessions .podCast .pods {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 30px;
}
main .firstSection .lastSessions .podCast .pods .recentPods {
  margin: 20px 0;
}
main .firstSection .lastSessions .podCast .pods .recentPods h3 {
  font-size: 20px;
  font-weight: 700;
}
main .firstSection .lastSessions .podCast .pods .recentPods p {
  font-size: 18px;
  color: var(--ftGray);
}
main .secondSection {
  margin: 100px 0 20px;
  display: flex;
  flex-direction: column;
}
main .secondSection h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
main .secondSection .attenteContainer {
  margin: 10px 10px 40px;
  display: flex;
  flex-direction: column;
}
main .secondSection .attenteContainer p {
  font-size: 16px;
  text-align: justify;
}
main .secondSection .attenteContainer ul {
  margin: 10px 40px;
  font-size: 16px;
  text-align: justify;
}
main .secondSection .attenteContainer ul li {
  list-style: decimal;
}
main .secondSection .partTake {
  height: 500px;
  margin: 30px 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
main .secondSection .partTake .price {
  display: flex;
  flex-direction: column;
  margin: 20px 60px 0;
  border: 1px solid var(--ftsBlue);
  border-radius: 4px;
}
main .secondSection .partTake .price h3 {
  color: var(--ftsBlue);
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
}
main .secondSection .partTake .price p {
  color: var(--ftGray);
  text-align: center;
  font-size: 20px;
}
main .secondSection .partTake .seeVid {
  height: 80px;
  margin: 0 60px 0;
  border: 1px solid var(--ftsBlue);
  border-top: none;
}
main .secondSection .partTake .seeVid p {
  color: var(--ftGray);
  text-align: center;
  font-size: 20px;
  margin: 20px 40px;
  cursor: pointer;
}
main .secondSection .partTake .downloadVid {
  height: 80px;
  margin: 0 60px 0;
  border: 1px solid var(--ftsBlue);
  border-top: none;
}
main .secondSection .partTake .downloadVid p {
  color: var(--ftGray);
  text-align: center;
  font-size: 20px;
  width: auto;
  margin: 20px 40px;
  cursor: pointer;
}
main .secondSection .partTake .downloadSrc {
  height: 80px;
  margin: 0 60px 0;
  border: 1px solid var(--ftsBlue);
  border-top: none;
}
main .secondSection .partTake .downloadSrc p {
  color: var(--ftGray);
  text-align: center;
  font-size: 20px;
  margin: 20px 40px;
  cursor: pointer;
}
main .secondSection .partTake .advanced {
  height: 80px;
  margin: 0 60px 0;
  border: 1px solid var(--ftsBlue);
  border-top: none;
  border-radius: 4px;
}
main .secondSection .partTake .advanced p {
  color: var(--fts__white);
  text-align: center;
  font-size: 12px;
  height: 30px;
  margin: 20px 10px;
  padding-top: 5px;
  background-color: var(--ftsBlue);
  border-radius: 4px;
  cursor: pointer;
}
main .secondSection .partTake .advanced p:hover {
  opacity: 60%;
}
main .thirdSection {
  margin: 100px 0 20px;
  display: flex;
  flex-direction: column;
}
main .thirdSection .firstBlog {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 20px;
}
main .thirdSection .firstBlog h1 {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--ftsBlue);
}
main .thirdSection .firstBlog p {
  font-size: 24px;
  margin-bottom: 20px;
}
main .thirdSection .firstBlog span {
  border-radius: 4px;
  border: 1px solid var(--ftsBlue);
  width: 160px;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  color: var(--ftsBlue);
}
main .thirdSection .firstBlog span:hover {
  background-color: var(--ftsBlue);
  color: var(--fts__white);
}
main .thirdSection .firstBlog .ImdDay {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
}
main .thirdSection .firstBlog .ImdDay img {
  width: 20%;
  margin-top: 30px;
}
main .thirdSection .firstBlog .ImdDay .dayClic {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
main .thirdSection .firstBlog .ImdDay .dayClic h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
}
main .thirdSection .firstBlog .ImdDay .dayClic p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .firstBlog .ImdDay .dayClic h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .firstBlog .ImdDay .dayClic h6 i {
  color: var(--ftsBlue);
}
main .thirdSection .secondBlog {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px;
}
main .thirdSection .secondBlog .simdDay {
  display: flex;
  flex-direction: row-reverse;
}
main .thirdSection .secondBlog .simdDay img {
  width: 20%;
  margin-top: 10px;
}
main .thirdSection .secondBlog .simdDay .sdayClic {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 10px;
}
main .thirdSection .secondBlog .simdDay .sdayClic h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
}
main .thirdSection .secondBlog .simdDay .sdayClic p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .secondBlog .simdDay .sdayClic h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .secondBlog .simdDay .sdayClic h6 i {
  color: var(--ftsBlue);
}
main .thirdSection .thirdBlog {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
main .thirdSection .thirdBlog .recTech {
  display: flex;
}
main .thirdSection .thirdBlog .recTech .recDesc {
  display: flex;
  flex-direction: column;
}
main .thirdSection .thirdBlog .recTech .recDesc h2 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
main .thirdSection .thirdBlog .recTech .recDesc p {
  margin: 10px 0;
  font-size: 18px;
}
main .thirdSection .thirdBlog .recTech .recDesc h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .thirdBlog .recTech .recDesc h6 i {
  color: var(--ftsBlue);
}
main .thirdSection .thirdBlog .recTech img {
  width: 20%;
  margin-top: 40px;
}
main .thirdSection .thirdBlog .arch {
  display: flex;
  margin-top: 30px;
}
main .thirdSection .thirdBlog .arch .archDesc {
  display: flex;
  flex-direction: column;
}
main .thirdSection .thirdBlog .arch .archDesc h2 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
main .thirdSection .thirdBlog .arch .archDesc p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}
main .thirdSection .thirdBlog .arch .archDesc h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .thirdBlog .arch .archDesc h6 i {
  color: var(--ftsBlue);
}
main .thirdSection .thirdBlog .arch img {
  width: 20%;
  margin-top: 40px;
}
main .thirdSection .thirdBlog .twitter {
  display: flex;
  margin-top: 30px;
}
main .thirdSection .thirdBlog .twitter .twitDesc {
  display: flex;
  flex-direction: column;
  width: 80%;
}
main .thirdSection .thirdBlog .twitter .twitDesc h2 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
main .thirdSection .thirdBlog .twitter .twitDesc p {
  margin: 10px 0;
  font-size: 18px;
}
main .thirdSection .thirdBlog .twitter .twitDesc h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .thirdSection .thirdBlog .twitter .twitDesc h6 i {
  color: var(--ftsBlue);
}
main .thirdSection .thirdBlog .twitter img {
  width: 20%;
  height: auto;
  margin-top: 40px;
}
main .testimonials {
  margin: 100px 0 20px;
  display: flex;
}
main .testimonials .img-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 50px 20px 20px;
  border: 2px solid var(--ftsBlue);
}
main .testimonials .img-container .tst-title {
  text-align: center;
  font-size: 36px;
  margin: 20px auto;
  font-weight: 700;
}
main .testimonials .img-container div {
  width: 400px;
  height: auto;
  margin: 20px auto;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
main .testimonials .img-container div img {
  width: 100%;
  height: 100%;
}
main .testimonials .img-container div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20px;
}
main .testimonials .img-container div span {
  font-size: 20px;
  cursor: pointer;
  color: var(--fts__white);
}

footer {
  width: 460px;
  border-bottom: 1px solid var(--ftGray);
  border-top: 1px solid var(--ftGray);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
}
footer .fFooter h2 {
  margin: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: var(--ftsBlue);
}
footer .fFooter p {
  font-size: 18px;
  margin: 10px 20px;
  text-align: justify;
}
footer .fFooter .socMed ul {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}
footer .fFooter .socMed ul li {
  list-style: none;
  padding-left: 10px;
}
footer .fFooter .socMed ul li .uil-rss {
  color: #ffdd00;
}
footer .fFooter .socMed ul li .uil-github {
  color: var(--fts-black);
}
footer .fFooter .socMed ul li .uil-youtube {
  color: var(--ftsRed);
}
footer .fFooter .socMed ul li .uil-twitter {
  color: var(--ftsBlue);
}
footer .fFooter .socMed ul li .uil-linkedin {
  color: blueviolet;
}
footer .fFooter .socMed ul li .uil {
  font-size: 30px;
  cursor: pointer;
}
footer .fFooter .socMed ul li .uil:hover {
  opacity: 50%;
}
footer .sFooter {
  margin-top: 30px;
}
footer .sFooter h2 {
  margin: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: var(--ftsBlue);
}
footer .sFooter .tweetsParag blockquote {
  display: flex;
  flex-direction: column;
}
footer .sFooter .tweetsParag blockquote p {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 20px;
}
footer .tFooter {
  margin-top: 30px;
}
footer .tFooter h2 {
  margin: 30px 20px;
  font-size: 24px;
  font-weight: 700;
  color: var(--ftsBlue);
}
footer .tFooter .socialMed ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .tFooter .socialMed ul li {
  margin-top: 20px;
  list-style: none;
  cursor: pointer;
}
footer .tFooter .socialMed ul li i {
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */