* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fmlInter);
}

:root {
  --ftsBlue: #2596be;
  --ftsRed: #d53c42;
  --ftGray: #bcbcbc;
  --ftzMed: 24px;
  --navHeight: 80px;
  --section-padding: 2rem 0 4 rem;
  --font-family: "Open Sans";
  --h2-size: 28px;
  --h1-size: 66px;
  --border-top: 1px solid #bcbcbc;
  --fts__white: #fff;
  --border-fifteen: 15px;
  --front-padding: 80px;
  --fts-golden: #daa520;
  --fts-black: #000;
  --fmlInter: "Inter", sans-serif;
}

body {
  background-color: var(--fts__white);
}

header {
  .nav--header {
    height: 80px;
    background-color: var(--fts__white);
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid var(--ftGray);
    width: 480px;

    img {
      width: 20px;
      height: 20px;
      margin-top: 30px;
      margin-left: 20px;
      cursor: pointer;
    }

    .ulNavContainerLeft {
      width: 40%;
      margin-right: auto;
      display: flex;

      li {
        list-style: none;
        padding: 30px 0 0 10px;

        a {
          text-decoration: none;
          color: #000;
        }

        a:hover {
          text-decoration: underline;
          text-decoration-color: #2596be;
          text-decoration-thickness: 3px;
        }
      }

      .forum {
        visibility: hidden;
        display: none;
      }

      .blog {
        visibility: hidden;
        display: none;
      }
    }

    .ulNavContainerRight {
      width: 40%;
      display: flex;
      margin-right: auto;

      li {
        list-style: none;
        padding: 30px 10px 0 60px;
        cursor: pointer;
      }

      .listTimes {
        .uil-times {
          display: none;
        }
      }

      div{
        display: none;
      }
    }
  }
}

span{
  color: var(--ftsBlue)
}

main {
  width: 480px;
  margin: auto;

  .motorWrd {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 140px 10px 0;

    .new {
      margin: 20px;

      .titleHeader {
        width: 60%;
        text-align: justify;
        font-size: 32px;
      }
      .titleHeaderThree {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
      }

      .btns {
        display: flex;
        flex-direction: row;
        margin: 20px;
        margin: 20px 0;

        .btnCreate {
          height: 40px;
          width: 140px;
          margin-right: 20px;
          background-color: var(--ftsBlue);
          cursor: pointer;
          border: 1px solid var(--ftsBlue);
          border-radius: 4px;
          color: var(--fts__white);
        }

        .btnCreate:hover {
          opacity: 80%;
        }

        .btnSee {
          height: 40px;
          width: 140px;
          border: 1px solid var(--ftsBlue);
          cursor: pointer;
          border-radius: 4px;
          color: var(--ftsBlue);
        }

        .btnSee:hover {
          background-color: var(--ftsBlue);
          color: var(--fts__white);
        }
      }
    }
  }
  .firstSection {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    .mtvContainer {
      margin: 20px;

      h1 {
        font-size: 46px;
      }

      p {
        margin-top: 20px;
        font-size: 16px;
      }
    }

    .lastSessions {
      display: flex;
      flex-direction: column;

      .modulesContainer {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        border-radius: 4px;
        border: 1px solid var(--ftGray);

        h1 {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 400;
          color: var(--fts-golden);
        }

        .modules {
          display: flex;
          flex-direction: column;
          margin: 20px 10px 30px;

          .phonetic {
            margin-top: 40px;
            display: flex;
            height: auto;

            img {
              width: 50px;
              height: 40px;
              margin-right: 20px;
            }

            .phoneticCurrentModules {
              display: flex;
              flex-direction: column;

              h3 {
                font-size: 20px;
                font-weight: 700;
              }

              p {
                font-size: 18px;
                color: var(--ftGray);
              }
            }
          }

          .grammar {
            margin-top: 40px;
            display: flex;
            img {
              width: 50px;
              height: 40px;
              margin-right: 20px;
            }

            .grammarCurrentModules {
              display: flex;
              flex-direction: column;

              h3 {
                font-size: 20px;
                font-weight: 700;
              }

              p {
                font-size: 18px;
                color: var(--ftGray);
              }
            }
          }

          .Conjugaison {
            margin-top: 40px;
            display: flex;
            img {
              width: 50px;
              height: 40px;
              margin-right: 20px;
            }

            .conjugCurrentModules {
              display: flex;
              flex-direction: column;

              h3 {
                font-size: 20px;
                font-weight: 700;
              }

              p {
                font-size: 18px;
                color: var(--ftGray);
              }
            }
          }
        }
      }

      .lastTutos {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        border-radius: 4px;
        border: 1px solid var(--ftGray);

        h1 {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 400;
          color: var(--ftsBlue);
        }

        .tutos {
          display: flex;
          flex-direction: column;
          margin: 20px 10px 30px;

          .accents {
            margin-top: 40px;
            display: flex;

            img {
              width: 50px;
              height: 40px;
              margin-right: 20px;
            }

            .accentVid {
              display: flex;
              flex-direction: column;

              h3 {
                font-size: 20px;
                font-weight: 700;
              }

              p {
                font-size: 18px;
                color: var(--ftGray);
              }
            }
          }

          .listening {
            margin-top: 40px;
            display: flex;

            img {
              width: 50px;
              height: 40px;
              margin-right: 20px;
            }

            .listeningVid {
              h3 {
                font-size: 20px;
                font-weight: 700;
              }

              p {
                font-size: 18px;
                color: var(--ftGray);
              }
            }
          }

          .speaking {
            margin-top: 40px;
            display: flex;

            img {
              width: 50px;
              height: 40px;
              margin-right: 20px;
            }

            .speakingVid {
              h3 {
                font-size: 20px;
                font-weight: 700;
              }

              p {
                font-size: 18px;
                color: var(--ftGray);
              }
            }
          }
        }
      }

      .podCast {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        border-radius: 4px;
        border: 1px solid var(--ftGray);

        h1 {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 400;
          color: var(--ftsRed);
        }

        .pods {
          display: flex;
          flex-direction: column;
          margin: 20px 20px 30px;

          .recentPods {
            margin: 20px 0;

            h3 {
              font-size: 20px;
              font-weight: 700;
            }

            p {
              font-size: 18px;
              color: var(--ftGray);
            }
          }
        }
      }
    }
  }
  .secondSection {
    margin: 100px 0 20px;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      margin: 20px 0;
      font-size: 32px;
    }

    .attenteContainer {
      margin: 10px 10px 40px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 16px;
        text-align: justify;
      }

      ul {
        margin: 10px 40px;
        font-size: 16px;
        text-align: justify;

        li {
          list-style: decimal;
        }
      }
    }

    .partTake {
      height: 500px;
      margin: 30px 40px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;

      .price {
        display: flex;
        flex-direction: column;
        margin: 20px 60px 0;
        border: 1px solid var(--ftsBlue);
        border-radius: 4px;

        h3 {
          color: var(--ftsBlue);
          text-align: center;
          margin-top: 20px;
          font-size: 32px;
          font-weight: 700;
        }

        p {
          color: var(--ftGray);
          text-align: center;
          font-size: 20px;
        }
      }

      .seeVid {
        height: 80px;
        margin: 0 60px 0;
        border: 1px solid var(--ftsBlue);
        border-top: none;

        p {
          color: var(--ftGray);
          text-align: center;
          font-size: 20px;
          margin: 20px 40px;
          cursor: pointer;
        }
      }

      .downloadVid {
        height: 80px;
        margin: 0 60px 0;
        border: 1px solid var(--ftsBlue);
        border-top: none;

        p {
          color: var(--ftGray);
          text-align: center;
          font-size: 20px;
          width: auto;
          margin: 20px 40px;
          cursor: pointer;
        }
      }

      .downloadSrc {
        height: 80px;
        margin: 0 60px 0;
        border: 1px solid var(--ftsBlue);
        border-top: none;

        p {
          color: var(--ftGray);
          text-align: center;
          font-size: 20px;
          margin: 20px 40px;
          cursor: pointer;
        }
      }

      .advanced {
        height: 80px;
        margin: 0 60px 0;
        border: 1px solid var(--ftsBlue);
        border-top: none;
        border-radius: 4px;

        p {
          color: var(--fts__white);
          text-align: center;
          font-size: 12px;
          height: 30px;
          margin: 20px 10px;
          padding-top: 5px;
          background-color: var(--ftsBlue);
          border-radius: 4px;
          cursor: pointer;
        }

        p:hover {
          opacity: 60%;
        }
      }
    }
  }
  .thirdSection {
    margin: 100px 0 20px;
    display: flex;
    flex-direction: column;

    .firstBlog {
      display: flex;
      flex-direction: column;
      margin: 50px 20px 20px;

      h1 {
        margin: 10px 0;
        font-size: 40px;
        font-weight: 700;
        color: var(--ftsBlue);
      }

      p {
        font-size: 24px;
        margin-bottom: 20px;
      }

      span {
        border-radius: 4px;
        border: 1px solid var(--ftsBlue);
        width: 160px;
        height: 40px;
        padding-left: 20px;
        padding-top: 10px;
        color: var(--ftsBlue);
      }

      span:hover {
        background-color: var(--ftsBlue);
        color: var(--fts__white);
      }

      .ImdDay {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 40px;

        img {
          width: 20%;
          margin-top: 30px;
        }

        .dayClic {
          display: flex;
          flex-direction: column;
          padding-right: 10px;

          h3 {
            margin: 10px 0;
            font-size: 24px;
            font-weight: 700;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
              color: var(--ftsBlue);
            }
          }
        }
      }
    }
    .secondBlog {
      display: flex;
      flex-direction: column;
      margin: 40px 20px 20px;

      .simdDay {
        display: flex;
        flex-direction: row-reverse;

        img {
          width: 20%;
          margin-top: 10px;
        }

        .sdayClic {
          display: flex;
          flex-direction: column;
          width: 80%;
          padding-right: 10px;

          h3 {
            margin: 10px 0;
            font-size: 24px;
            font-weight: 700;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
              color: var(--ftsBlue);
            }
          }
        }
      }
    }
    .thirdBlog {
      display: flex;
      flex-direction: column;
      margin: 20px;

      .recTech {
        display: flex;

        .recDesc {
          display: flex;
          flex-direction: column;

          h2 {
            margin: 10px 0;
            font-size: 20px;
            font-weight: 700;
          }

          p {
            margin: 10px 0;
            font-size: 18px;
          }

          h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
              color: var(--ftsBlue);
            }
          }
        }

        img {
          width: 20%;
          margin-top: 40px;
        }
      }
      .arch {
        display: flex;
        margin-top: 30px;

        .archDesc {
          display: flex;
          flex-direction: column;

          h2 {
            margin: 10px 0;
            font-size: 20px;
            font-weight: 700;
          }

          p {
            margin: 10px 0;
            font-size: 18px;
            font-weight: 400;
          }

          h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
              color: var(--ftsBlue);
            }
          }
        }

        img {
          width: 20%;
          margin-top: 40px;
        }
      }
      .twitter {
        display: flex;
        margin-top: 30px;

        .twitDesc {
          display: flex;
          flex-direction: column;
          width: 80%;

          h2 {
            margin: 10px 0;
            font-size: 20px;
            font-weight: 700;
          }

          p {
            margin: 10px 0;
            font-size: 18px;
          }

          h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
              color: var(--ftsBlue);
            }
          }
        }

        img {
          width: 20%;
          height: auto;
          margin-top: 40px;
        }
      }
    }
  }
}

footer {
  width: 460px;
  border-bottom: 1px solid var(--ftGray);
  border-top: 1px solid var(--ftGray);
  display: flex;
  flex-direction: column;
  margin: auto;

  .fFooter {
    h2 {
      margin: 10px 20px;
      font-size: 24px;
      font-weight: 700;
      color: var(--ftsBlue);
    }

    p {
      font-size: 18px;
      margin: 10px 20px;
      text-align: justify;
    }

    .socMed {
      ul {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;

        li {
          list-style: none;
          padding-left: 10px;

          .uil-rss {
            color: #ffdd00;
          }

          .uil-github {
            color: var(--fts-black);
          }

          .uil-youtube {
            color: var(--ftsRed);
          }

          .uil-twitter {
            color: var(--ftsBlue);
          }

          .uil-linkedin {
            color: blueviolet;
          }

          .uil {
            font-size: 30px;
            cursor: pointer;
          }

          .uil:hover {
            opacity: 50%;
          }
        }
      }
    }
  }

  .sFooter {
    margin-top: 30px;
    h2 {
      margin: 10px 20px;
      font-size: 24px;
      font-weight: 700;
      color: var(--ftsBlue);
    }

    .tweetsParag {
      blockquote {
        display: flex;
        flex-direction: column;

        p {
          font-size: 18px;
          font-weight: 400;
          margin: 10px 20px;
        }
      }
    }
  }

  .tFooter {
    margin-top: 30px;
    h2 {
      margin: 30px 20px;
      font-size: 24px;
      font-weight: 700;
      color: var(--ftsBlue);
    }

    .socialMed {
      ul {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        li {
          margin-top: 20px;
          list-style: none;
          cursor: pointer;

          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
